:root {
  --color-text: #242424;
  --color-text-disabled: #F0F2F6;
  --color-primary: #ED3237;
  --color-secondary: #00ff00;
  --color-success: #2BC128;
  --color-warning: #FFB119;
  --color-error: #FB2047;
  --color-info: #1677ff;
  --body-background-color: #f4f4f4;
}